@charset "UTF-8";
html{height:100%;}
body{
  margin:0;
  padding:0;
  background-color: #e8e8e8;
  height:100%;
}
header{
  position:relative;
  text-align:center;
}

#root{height:100%;}
.app{height:100%;}
.searchBox{z-index:20; position:sticky; top:0; background-color:#e8e8e8; padding:10px;}
.searchBox input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.searchBox span{
  float:left;
  font-size:0.8em;
  font-weight:bold;
  color:#808080;
  padding-left: 3px;
}



.postCardBox{
	position: relative;
  padding:10px;
  margin-bottom:150px;
}
.postCard{
	vertical-align:top;
	background-color:#F2F2F2;
	position:relative;
  width:calc(100%-20px);
  padding:10px;
  margin-bottom:10px;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.no.active{background-color:#00B050 !important; color:#fff !important;}
.card-head{display:block;}
.card-head .no{transition: all 0.5s; position:absolute; z-index:0; opacity:0.7; font-weight:bold; top:5px; border-right:8px solid red; border-top:2px solid #CDDBBE; border-left:2px solid #CDDBBE; border-bottom:2px solid #CDDBBE; right:-8px; color:#000; background-color:#fff; padding:3px 20px;}
.card-head .card-title{font-weight: bold; font-size:1.5em;}
.card-head .card-subinfo{display:block; color:#E77372}
.card-head .card-subinfo span{margin-right:10px; z-index:10;}
.card-content{margin:10px 0; color:#5D8BB7;}


.navigator{
  display:flex;
  width:100%;
  position:fixed;
  bottom:0;
  height:60px;
  background-color:#282C34;
}
.navigator div{
  position:relative;
  cursor:pointer;
  text-align:center;
  padding-top:20px;
  vertical-align: middle;
  flex:1;
  border-top:1px solid #3F4653;
  border-right:1px solid #3F4653;
  font-weight:bold;
  font-size:0.75em;
  color:#D19A66;
}
.navigator div:last-child{
  border-right:none;
}
.navigator div.active{
  cursor:default;
}
.navigator div.active::after{
  content:'\2713';
  position:absolute;
  left:48%;
  bottom:8px;
}
.navigator div:hover{
  opacity:0.8;
}

.pdf{
  position:relative;
  height:100%;
}
.pdf iframe{
  display:block;
  width:100vw;
  height: 90vh;
}
